<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorator="/layout/base_layout">

<body>

	<div layout:fragment="home_content" class="container">
		<div class="content" style="overflow: scroll;">
			<div class="clearfix"></div>

			<div id="seg_policy_dd" class="dropdown">
				<button class="btn btn-primary dropdown-toggle" type="button"
					data-toggle="dropdown" id="seg_policy_but">
					Seg_Policy <span class="caret"></span>
				</button>
				<ul id="seg_policy_dd_ul" class="dropdown-menu">
					<li th:each=" name: ${exptNames}"><a href="#"
						th:text="${name}"></a></li>
				</ul>
			</div>

			<input type="hidden" id="hid_val" /> <br />

			<table>
				<thead>
					<tr>
						<th>Min %</th>
						<th>Max %</th>
						<th>Name</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><input id="min_perc" name="min" /></td>
						<td><input id="max_perc" name="max" /></td>
						<td><input id="algo_name" name="algo_name" /></td>
					</tr>
				</tbody>
			</table>

			<br />

			<div class="clearfix"></div>
			<button type="button" class="btn btn-primary" id="add_button">Add</button>

			<div class="clearfix"></div>

			<br />

			<table class="table" id="percent_table">
				<thead>
					<tr>
						<th>Seg_policy</th>
						<th>Percentage</th>
						<th>Operation</th>
					</tr>
				</thead>
				<tbody>

				</tbody>
			</table>

			<br />
			<div class="dropdown">
				<button class="btn btn-primary dropdown-toggle" type="button"
					data-toggle="dropdown" id="data_model_but">
					Data Model <span class="caret"></span>
				</button>
				<ul id="data_model_dd_ul" class="dropdown-menu">
					<li th:each=" name: ${dataModelNames}"><a href="#"
						th:text="${name}"></a></li>
				</ul>
			</div>
			<br /> <input type="hidden" id="hid_val2" />

			<div class="clearfix"></div>
			<button type="button" id="publish_button" class="btn btn-primary">Publish</button>

			<br />
		</div>

	</div>

</body>

</html>